*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* For gradient */
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #145585, #295674, #199cb6, #00ffff, #00d4ff, #199cb6, #00d4ff, #00ffff, #199cb6, #295674); 
  background-size: 1500% 100%; 
  animation: gradientAnimation 15s ease infinite; 
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%; 
  }
  100% {
      background-position: 100% 50%; 
  }
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #f59120;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* If screen size is too small, get rid of hover effects (had issues with toggle bar) */
@media (max-width: 768px) {
  .hvr-underline-from-center:before {
      display: none; 
  }
  .hvr-underline-from-center:hover:before {
      visibility: hidden; 
  }
}
