*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* For gradient */
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #145585, #295674, #199cb6, #00ffff, #00d4ff, #199cb6, #00d4ff, #00ffff, #199cb6, #295674); 
  background-size: 1500% 100%; 
  animation: gradientAnimation 15s ease infinite; 
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%; 
  }
  100% {
      background-position: 100% 50%; 
  }
}