{% extends 'base.html' %} 

<!-- Title -->
{% block title %}
WFS Warwick Finance Societies - About Us
{% endblock %}

{% block content %}
<!-- HTML Code -->

<!-- Hero image -->
<div class="hero-image position-relative" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); background-size: cover; background-position: center; width: 100vw; height: 50vh;">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container text-center">
                <h1 class="display-4 mb-2 text-white" data-aos="fade-down" data-aos-delay="1000" data-aos-easing="ease-in-out">
                    About <br> Warwick Finance Societies
                </h1>
                <div class="row mt-2 mb-5">
                    <div class="col text-center lead mb-0 text-white" data-aos="fade-down" data-aos-delay="400" data-aos-easing="ease-in-out">sentence here?</div>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Border below hero image -->
<div class="border-bottom"></div>

<!-- Main content -->
<div id="mainContent" style="height: 100%;">

    <br><br>

    <div class="execSlider mb-5">
        <div class="execItem">
            <img src="https://via.placeholder.com/200x120" class="img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec">
            <h1>slide 1</h1>
        </div>
        <div class="execItem">
            <img src="https://via.placeholder.com/200x120" class="img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec">
            <h1>slide 2</h1>
        </div>
        <div class="execItem">
            <img src="https://via.placeholder.com/200x120" class="img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec">
            <h1>slide 3</h1>
        </div>
        <div class="execItem">
            <img src="https://via.placeholder.com/200x120" class="img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec">
            <h1>slide 4</h1>
        </div>
        <div class="execItem">
            <img src="https://via.placeholder.com/200x120" class="img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec">
            <h1>slide 5</h1>
        </div>
        <button id="execNext">&gt;</button>
        <button id="execPrev">&lt;</button>
    </div>

    <br><br>

    <script src="/static/javascript/slider.js"></script>
</div>



{% endblock %}