{% extends 'base.html' %} 

<!-- Title -->
{% block title %}
WFS Warwick Finance Societies - Divisions
{% endblock %}

{% block content %}
<!-- Hero Image -->
<div class="hero-image position-relative" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container text-center">
                <h1 class="display-4 mb-2 text-white" data-aos="fade-down" data-aos-delay="400" data-aos-easing="ease-in-out">
                    Warwick Finance Societies <br> Divisions
                  </h1>
                <div class="row mt-2 mb-5">
                    <div class="col text-center lead mb-0 text-white" data-aos="fade-down" data-aos-delay="100" data-aos-easing="ease-in-out">
                        Sentences about Divisions
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<!-- Border below hero image -->
<div class="border-bottom"></div>

<!-- Main content -->
<div class="container divisions">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='alternatives.html'">Alternatives</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='markets.html'">Markets</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='investment-banking.html'">Investment Banking</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='quant-finance.html'">Quant Finance</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='fintech.html'">Fintech</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='insights.html'">Insights</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='wif-diversity.html'">WIF & Diversity</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='speakers.html'">Speakers</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='strategy-marketing.html'">Strategy & Marketing</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='socials.html'">Socials</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='alumni.html'">Alumni</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='careers.html'">Careers</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='shard.html'">Shard</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='sponsorships.html'">Sponsorships</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='ball.html'">Ball</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2">
            <div class="division-box" onclick="location.href='tour.html'">Tour</div>
        </div>
    </div>
</div>
{% endblock %}