{% extends 'base.html' %} 

<!-- Title -->
{% block title %}
WFS Warwick Finance Societies - Executives and Divisions
{% endblock %}

{% block content %}
<!-- HTML Code -->

<!-- Second navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0c154a;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown mx-5">
                    <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownLeadership" role="button" aria-expanded="false">
                        Leadership
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLeadership" style="background-color: #0c154a;">
                        <li><a class="dropdown-item hvr-radial-out text-white" href="{{ url_for('divisionBoard') }}">Board</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-white" href="{{ url_for('divisionAdvisory') }}">Advisory</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mx-5">
                    <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownFlagships" role="button" aria-expanded="false">
                        Flagships
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownFlagships">
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionMarkets') }}">Markets</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionQuantFinance') }}">Quant Finance</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionInvestmentBanking') }}">Investment Banking</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionSpeakerSeries') }}">Speaker Series</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mx-5">
                    <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownFinance" role="button" aria-expanded="false">
                        Finance
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownFinance">
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionVentureCapitalAndPrivateEquity') }}">Venture Capital & Private Equity</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionFintech') }}">Fintech</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionWomenInFinanceAndDiversity') }}">Women in Finance & Diversity</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionInsights') }}">Insights</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionCareers') }}">Careers</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mx-5">
                    <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownEvents" role="button" aria-expanded="false">
                        Events
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownEvents">
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionShard') }}">Shard</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionSocials') }}">Socials</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionBall') }}">Ball</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionSport') }}">Sport</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionTour') }}">Tour</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mx-5">
                    <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownOperations" role="button" aria-expanded="false">
                        Operations
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownOperations">
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionStrategyAndMarketing') }}">Strategy & Marketing</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionSponsorship') }}">Sponsorships</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionAlumni') }}">Alumni</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionPhotographer') }}">Photographer</a></li>
                        <li><a class="dropdown-item hvr-radial-out text-black" href="{{ url_for('divisionTech') }}">Tech</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Hero image -->
<div class="hero-image position-relative" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); background-size: cover; background-position: center; width: 100vw; height: 50vh;">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container text-center">
                <h1 class="display-4 mb-2 text-white" data-aos="fade-down" data-aos-delay="1000" data-aos-easing="ease-in-out">
                    Warwick Finance Societies <br> Executives and Divisions
                </h1>
                <div class="row mt-2 mb-5">
                    <div class="col text-center lead mb-0 text-white" data-aos="fade-down" data-aos-delay="400" data-aos-easing="ease-in-out">mission statement here?</div>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Border below hero image -->
<div class="border-bottom"></div>

<!-- Main content -->
<div id="mainContent" style="height: 100%;">

    <!-- WFS history slider -->
    <br><br>
    <center>
        <p class="h2 mt-5 mb-5 text-white"
        data-aos="fade-right"
        data-aos-easing="ease-in-out"
        data-aos-offset="250"
        data-aos-delay="100">WFS History</p>
    </center>

    <section class="h--timeline js-h--timeline mt-5"
    data-aos="zoom-in"
    data-aos-easing="ease-in-out"
    data-aos-offset="250"
    data-aos-delay="100">
        <div class="h--timeline-container">
          <div class="h--timeline-dates">
            <div class="h--timeline-line">
              <ol>
                <li><a href="#0" data-date="01/01/2024" class="h--timeline-date h--timeline-date--selected">2024</a></li>
                <li><a href="#0" data-date="01/01/2023" class="h--timeline-date">2023</a></li>
                <li><a href="#0" data-date="01/01/2022" class="h--timeline-date">2022</a></li>
                <li><a href="#0" data-date="01/01/2021" class="h--timeline-date">2021</a></li>
                <li><a href="#0" data-date="01/01/2020" class="h--timeline-date">2020</a></li>
                <li><a href="#0" data-date="01/01/2019" class="h--timeline-date">2019</a></li>
                <li><a href="#0" data-date="01/01/2018" class="h--timeline-date">2018</a></li>
                <li><a href="#0" data-date="01/01/2017" class="h--timeline-date">2017</a></li>
                <li><a href="#0" data-date="01/01/2016" class="h--timeline-date">2016</a></li>
                <li><a href="#0" data-date="01/01/2015" class="h--timeline-date">2015</a></li>
                <li><a href="#0" data-date="01/01/2014" class="h--timeline-date">2014</a></li>
              </ol>
        
              <span class="h--timeline-filling-line" aria-hidden="true"></span>
            </div> <!-- .h--timeline-line -->
          </div> <!-- .h--timeline-dates -->
        
          <nav class="h--timeline-navigation-container">
            <ul>
              <li><a href="#0" class="text-replace h--timeline-navigation h--timeline-navigation--prev h--timeline-navigation--inactive">&lt;</a></li>
              <li><a href="#0" class="text-replace h--timeline-navigation h--timeline-navigation--next">&gt;</a></li>
            </ul>
          </nav>
        </div> <!-- .h--timeline-container -->
        
        <div class="h--timeline-events">
          <ol>
            <li class="h--timeline-event h--timeline-event--selected text-component">
              <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                <h2 class="h--timeline-event-title">Title</h2>
                <em class="h--timeline-event-date">2024</em>
                <p class="h--timeline-event-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
              </div>
            </li>
        
            <li class="h--timeline-event text-component">
                <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                  <h2 class="h--timeline-event-title">Title</h2>
                  <em class="h--timeline-event-date">2023</em>
                  <p class="h--timeline-event-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                  </p>
                </div>
            </li>
        
            <li class="h--timeline-event text-component">
                <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                  <h2 class="h--timeline-event-title">Title</h2>
                  <em class="h--timeline-event-date">2022</em>
                  <p class="h--timeline-event-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                  </p>
                </div>
            </li>
        
            <li class="h--timeline-event text-component">
                <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                  <h2 class="h--timeline-event-title">Title</h2>
                  <em class="h--timeline-event-date">2021</em>
                  <p class="h--timeline-event-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                  </p>
                </div>
            </li>
        
            <li class="h--timeline-event text-component">
                <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                  <h2 class="h--timeline-event-title">Title</h2>
                  <em class="h--timeline-event-date">2020</em>
                  <p class="h--timeline-event-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                  </p>
                </div>
            </li>
        
            <li class="h--timeline-event text-component">
                <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                  <h2 class="h--timeline-event-title">Title</h2>
                  <em class="h--timeline-event-date">2019</em>
                  <p class="h--timeline-event-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                  </p>
                </div>
            </li>
        
            <li class="h--timeline-event text-component">
                <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                  <h2 class="h--timeline-event-title">Title</h2>
                  <em class="h--timeline-event-date">2018</em>
                  <p class="h--timeline-event-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                  </p>
                </div>
            </li>
        
            <li class="h--timeline-event text-component">
                <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                  <h2 class="h--timeline-event-title">Title</h2>
                  <em class="h--timeline-event-date">2017</em>
                  <p class="h--timeline-event-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                  </p>
                </div>
            </li>
        
            <li class="h--timeline-event text-component">
                <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                  <h2 class="h--timeline-event-title">Title</h2>
                  <em class="h--timeline-event-date">2016</em>
                  <p class="h--timeline-event-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                  </p>
                </div>
            </li>
        
            <li class="h--timeline-event text-component">
                <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                  <h2 class="h--timeline-event-title">Title</h2>
                  <em class="h--timeline-event-date">2015</em>
                  <p class="h--timeline-event-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                  </p>
                </div>
            </li>
        
            <li class="h--timeline-event text-component">
              <div class="h--timeline-event-content container bg-white border border-dark" style="border-width: 2px; border-radius: 10px;">
                <h2 class="h--timeline-event-title">Title</h2>
                <em class="h--timeline-event-date">2014</em>
                <p class="h--timeline-event-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
              </div>
            </li>
          </ol>
        </div> <!-- .h--timeline-events -->
    </section>

    <!-- All execs -->
    <center>
      <p class="h2 mt-5 mb-5 text-white"
      data-aos="fade-right"
      data-aos-easing="ease-in-out"
      data-aos-offset="250"
      data-aos-delay="100">WFS Executives and Divisions</p>
    </center>

    <div class="container mt-4">
      <!-- Row 1 -->
      <div class="row mb-4 justify-content-center">
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionBoard') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Board</h3>
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Row 2 -->
      <div class="row mb-4">
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionAdvisory') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Advisory</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionMarkets') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Markets</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionQuantFinance') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Quant Finance</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionInvestmentBanking') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Investment Banking</h3>
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Row 3 -->
      <div class="row mb-4">
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionVentureCapitalAndPrivateEquity') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Venture Capital <br> & <br> Private Equity</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionFintech') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Fintech</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionWomenInFinanceAndDiversity') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Women in Finance <br> & <br> Diversity</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionInsights') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Insights</h3>
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Row 4 -->
      <div class="row mb-4">
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionStrategyAndMarketing') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Strategy <br> & <br> Marketing</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionSponsorship') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Sponsorship</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionSpeakerSeries') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Speaker Series</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionCareers') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Careers</h3>
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Row 5 -->
      <div class="row mb-4">
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionShard') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Shard</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionAlumni') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Alumni</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionTech') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Tech</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionPhotographer') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Photographer</h3>
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Row 6 -->
      <div class="row mb-4">
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionTour') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Tour</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionSocials') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Socials</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
              <div class="card card-container-exec hvr-glow hvr-bob"
              data-aos="zoom-in"
              data-aos-easing="ease-in-out"
              data-aos-delay="100"
              data-aos-offset="150"
              onclick="window.location.href='{{ url_for('divisionBall') }}'">
                  <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                  <div class="card-overlay-exec">
                      <h3 class="card-title-exec">Ball</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="card card-container-exec hvr-glow hvr-bob"
                 data-aos="zoom-in"
                 data-aos-easing="ease-in-out"
                 data-aos-delay="100"
                 data-aos-offset="150"
                 onclick="window.location.href='{{ url_for('divisionSport') }}'">
                <img src="https://via.placeholder.com/400x300" class="card-img-exec img-fluid" alt="Warwick University Warwick Finance Societies WFS Exec and Division">
                <div class="card-overlay-exec">
                    <h3 class="card-title-exec">Sport</h3>
                </div>
            </div>
          </div>
      </div>
    </div>

    <br><br><br><br><br><br><br>

    <script src="/static/javascript/execNavbar.js"></script>
</div>



{% endblock %}