{% extends 'base.html' %}

<!-- Title -->
{% block title %}
WFS Warwick Finance Societies - Home
{% endblock %}

{% block content %}

<!-- Background video -->
<div class="video-background-holder">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://cdn.coverr.co/videos/coverr-cinematic-snowy-mountains-7615/720p.mp4" type="video/mp4">
  </video>
  <div class="video-background-overlay"></div>
  <div class="video-background-content container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-4 mt-4 mb-4">Welcome to <br> Warwick Finance Societies</h1>
        <!--<p class="lead mb-0">Want to put a sentence here?</p>-->

        <div class="row mt-4 mb-4">
          <div class="col text-left lead mb-0">One</div>
          <div class="col text-center lead mb-0">Two</div>
          <div class="col text-right lead mb-0">Three</div>
        </div>

        <a class="btn btn-lg mt-4 mb-4 btn-outline-dark btn-secondary active" style="background:#f59120; border-width: 2px; border-radius: 10px;" href="#" role="button">
          Join WFS
        </a>

      </div>
    </div>
  </div>
</div>

<!-- For facts and figures about the society -->

<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card card border-dark rounded" style="border-width: 2px; border-radius: 10px;">
        <div class="card-header">
          facts and figures header
        </div>

        <div class="card-body">
          <h5 class="card-title">facts and figures title</h5>
          <p class="card-text">facts and figures</p>
          <a href="#" class="card-link">facts and figures link</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">facts and figures footer</small>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card card border-dark rounded" style="border-width: 2px; border-radius: 10px;">
        <div class="card-header">
          facts and figures header
        </div>

        <div class="card-body">
          <h5 class="card-title">facts and figures title</h5>
          <p class="card-text">facts and figures</p>
          <a href="#" class="card-link">facts and figures link</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">facts and figures footer</small>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card card border-dark rounded" style="border-width: 2px; border-radius: 10px;">
        <div class="card-header">
          facts and figures header
        </div>

        <div class="card-body">
          <h5 class="card-title">facts and figures title</h5>
          <p class="card-text">facts and figures</p>
          <a href="#" class="card-link">facts and figures link</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">facts and figures footer</small>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Dynamic scroll down of companies -->

<center>
  <p class="h2 mt-5 mb-5 text-black">WFS Sponsors</p>
</center>

<div class="container">
  <div class="row d-flex">
    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Sponsor">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Sponsor">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Sponsor">
      </div>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Sponsor">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Sponsor">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Sponsor">
      </div>
    </div>
  </div>
</div>

<center>
  <a class="btn btn-lg mt-4 mb-4 btn-outline-dark btn-secondary active" style="background:#f59120; border-width: 2px; border-radius: 10px;" href="#" role="button">
    More about WFS Sponsors
  </a>
</center>

<center>
  <p class="h2 mt-5 mb-5 text-black">WFS Collabs</p>
</center>

<div class="container">
  <div class="row d-flex">
    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Collab">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Collab">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Collab">
      </div>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Collab">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Collab">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Collab">
      </div>
    </div>
  </div>
</div>

<center>
  <a class="btn btn-lg mt-4 mb-4 btn-outline-dark btn-secondary active" style="background:#f59120; border-width: 2px; border-radius: 10px;" href="#" role="button">
    More about WFS Collabs
  </a>
</center>

<center>
  <p class="h2 mt-5 mb-5 text-black">WFS Exec Offers</p>
</center>

<div class="container">
  <div class="row d-flex">
    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Exec Offer">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Exec Offer">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Exec Offer">
      </div>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Exec Offer">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Exec Offer">
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center mt-2 mb-2">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" class="img-fluid" alt="WFS Warwick University Warwick Finance Societies Exec Offer">
      </div>
    </div>
  </div>
</div>

<center>
  <a class="btn btn-lg mt-4 mb-4 btn-outline-dark btn-secondary active" style="background:#f59120; border-width: 2px; border-radius: 10px;" href="#" role="button">
    More about WFS Exec
  </a>
</center>

<br><br><br><br><br>

{% endblock %}