{% extends 'base.html' %}

<!-- Title -->
{% block title %}
WFS Warwick Finance Societies - Home
{% endblock %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #0c154a; z-index: 1039; top: 54px;">
  <div class="container-fluid">
      <!-- Navbar toggler (visible on small screens and up) -->
      <button class="navbar-toggler d-md-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: #ffffff;"></span>
      </button>

      <!-- Navbar content -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
              <!-- Leadership Dropdown -->
              <li class="nav-item dropdown mx-3 mx-md-4 mx-lg-5">
                  <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownLeadership" role="button" aria-expanded="false">
                      Leadership
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownLeadership" style="background-color: #0c154a;">
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionBoard') }}" style="font-size: 0.9rem;">Board</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionAdvisory') }}" style="font-size: 0.9rem;">Advisory</a></li>
                  </ul>
              </li>
              <!-- Flagships Dropdown -->
              <li class="nav-item dropdown mx-3 mx-md-4 mx-lg-5">
                  <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownFlagships" role="button" aria-expanded="false">
                      Flagships
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownFlagships" style="background-color: #0c154a;">
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionMarkets') }}" style="font-size: 0.9rem;">Markets</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionQuantFinance') }}" style="font-size: 0.9rem;">Quant Finance</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionInvestmentBanking') }}" style="font-size: 0.9rem;">Investment Banking</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionSpeakerSeries') }}" style="font-size: 0.9rem;">Speaker Series</a></li>
                  </ul>
              </li>
              <!-- Finance Dropdown -->
              <li class="nav-item dropdown mx-3 mx-md-4 mx-lg-5">
                  <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownFinance" role="button" aria-expanded="false">
                      Finance
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownFinance" style="background-color: #0c154a;">
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionAlternatives') }}" style="font-size: 0.9rem;">Alternatives</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionFintech') }}" style="font-size: 0.9rem;">Fintech</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionWomenInFinanceAndDiversity') }}" style="font-size: 0.9rem;">Women in Finance & Diversity</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionInsights') }}" style="font-size: 0.9rem;">Insights</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionCareers') }}" style="font-size: 0.9rem;">Careers</a></li>
                  </ul>
              </li>
              <!-- Events Dropdown -->
              <li class="nav-item dropdown mx-3 mx-md-4 mx-lg-5">
                  <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownEvents" role="button" aria-expanded="false">
                      Events
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownEvents" style="background-color: #0c154a;">
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionShard') }}" style="font-size: 0.9rem;">Shard</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionSocials') }}" style="font-size: 0.9rem;">Socials</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionBall') }}" style="font-size: 0.9rem;">Ball</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionSport') }}" style="font-size: 0.9rem;">Sport</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionTour') }}" style="font-size: 0.9rem;">Tour</a></li>
                  </ul>
              </li>
              <!-- Operations Dropdown -->
              <li class="nav-item dropdown mx-3 mx-md-4 mx-lg-5">
                  <a class="nav-link dropdown-toggle text-white hvr-underline-from-center hvr-glow hvr-grow hvr-bob" href="#" id="navbarDropdownOperations" role="button" aria-expanded="false">
                      Operations
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownOperations" style="background-color: #0c154a;">
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionStrategyAndMarketing') }}" style="font-size: 0.9rem;">Strategy & Marketing</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionSponsorship') }}" style="font-size: 0.9rem;">Sponsorships</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionAlumni') }}" style="font-size: 0.9rem;">Alumni</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionPhotographer') }}" style="font-size: 0.9rem;">Photographer</a></li>
                      <li><a class="dropdown-item hvr-shutter-out-vertical text-white" href="{{ url_for('divisionTech') }}" style="font-size: 0.9rem;">Tech</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>

<!-- Hero image -->
<div class="hero-image position-relative" style="width: 100vw; height: 50vh;">
    <!-- The image -->
    <img src="/static/images/base/WFS Warwick University Warwick Finance Societies Home.jpg" alt="Hero Image" style="object-fit: cover; width: 100%; height: 100%; filter: grayscale(100%); position: absolute; top: 0; left: 0;">

    <!-- Semi-transparent grayscale overlay -->
    <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255, 255, 255, 0.3);"></div>

    <!-- Text and button on top of the image and overlay -->
    <div class="mask position-absolute top-0 start-0 w-100 h-100" style="z-index: 1;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container text-center">
                <h1 class="display-4 mb-2 text-white" data-aos="fade-down" data-aos-delay="1000" data-aos-easing="ease-in-out">
                  Welcome to <br> Warwick Finance Societies
                </h1>
                <div class="row mt-2 mb-5">
                    <div class="col text-left lead mb-0 text-white" data-aos="fade-down" data-aos-delay="100" data-aos-easing="ease-in-out">
                        Ambitious
                    </div>

                    <div class="col text-center lead mb-0 text-white" data-aos="fade-down" data-aos-delay="400" data-aos-easing="ease-in-out">
                        Empowering
                    </div>

                    <div class="col text-right lead mb-0 text-white" data-aos="fade-down" data-aos-delay="700" data-aos-easing="ease-in-out">
                        Dynamic
                    </div>
                </div>
                <a class="btn btn-lg mt-4 mb-4 btn-outline-dark active hvr-glow hvr-pulse hvr-shutter-out-horizontal" 
                   style="background:#f59120; border-width: 2px; border-color: #000000; border-radius: 10px;" href="https://www.warwicksu.com/societies-sports/societies/warwickfinancesociet/#org-join" role="button"
                   data-aos="zoom-in-up"
                   data-aos-delay="1300"
                   data-aos-easing="ease-in-out">
                  Join WFS
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Border below hero image -->
<div class="border-bottom"></div>

<div id="mainContent" style="height: 100%;">
  <br><br>

    <!-- Society description -->
    <div class="jumbotron mx-5 jumbotron-fluid custom-jumbotron border-dark border rounded" 
    style="background-image: url('/static/images/base/Text Backgrounds/WFS%20Warwick%20University%20Warwick%20Finance%20Societies%20Text%20Background.jpeg');"
    data-aos="zoom-in"
    data-aos-easing="ease-in-out"
    data-aos-delay="100"
    data-aos-offset="200">
        <div class="container">
            <h1 class="display-4 text-center">Warwick Finance Societies</h1>
            <p class="lead text-center">
                WFS aims to demystify the world of finance and commercial law, amplify career opportunities, and provide entertainment to students, all while building a diverse community. 
                <br>
                Our 120+ annual events include company presentations, networking events, CV clinics, The Speaker Series, Market Discussions, socials, tours, international conferences and The Spring Ball. 
                <br>
                We are an incredibly diverse community that welcomes students from all academic backgrounds with a shared passion for finance.
            </p>
        </div>
    </div>


  
  <!-- For facts and figures about the society -->
  <br><br>
    <div class="container mb-5">
        <div class="row justify-content-center">
            <!-- Column 1 -->
            <div class="col-12 col-md-4 col-lg-3 mb-4"
                data-aos="fade-up"
                data-aos-easing="ease-in-out"
                data-aos-delay="100"
                data-aos-offset="250">
                <div class="card border-dark rounded h-100 d-flex flex-column" style="border-width: 2px; border-radius: 10px;">
                    <div class="card-header text-center fw-bold" style="font-size: calc(1rem + 0.3vw);">
                        5700+ Members
                    </div>
                    <div class="card-body text-center d-flex align-items-center justify-content-center">
                        <p class="card-text">#1 Society On Campus</p>
                    </div>
                </div>
            </div>

            <!-- Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 mb-4"
                data-aos="fade-up"
                data-aos-easing="ease-in-out"
                data-aos-delay="100"
                data-aos-offset="250">
                <div class="card border-dark rounded h-100 d-flex flex-column" style="border-width: 2px; border-radius: 10px;">
                    <div class="card-header text-center fw-bold" style="font-size: calc(1rem + 0.3vw);">
                        200+ Events
                    </div>
                    <div class="card-body text-center d-flex align-items-center justify-content-center">
                        <p class="card-text">Hosted Every Year</p>
                    </div>
                </div>
            </div>

            <!-- Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 mb-4"
                data-aos="fade-up"
                data-aos-easing="ease-in-out"
                data-aos-delay="100"
                data-aos-offset="250">
                <div class="card border-dark rounded h-100 d-flex flex-column" style="border-width: 2px; border-radius: 10px;">
                    <div class="card-header text-center fw-bold" style="font-size: calc(1rem + 0.3vw);">
                        150+ Professionals
                    </div>
                    <div class="card-body text-center d-flex align-items-center justify-content-center">
                        <p class="card-text">Featured In Our Events</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <!-- Dynamic scroll down of companies -->

  <center>
    <p class="h2 mt-5 mb-5 text-white"
    data-aos="fade-right"
    data-aos-easing="ease-in-out"
    data-aos-offset="250"
    data-aos-delay="100">WFS Sponsors</p>
  </center>

    <!-- Image Slider Container -->
    <div class="logoSlider-container">
        <div class="logoSlider" id="sponsorSlider">
            <!-- Slider Items (11 total, updated with sponsor logos) -->
            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies Da Vinci DERIVATIVES.png" 
                    alt="Sponsor 1" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies Houlihan Lokey.png" 
                    alt="Sponsor 2" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies Fidelity.png" 
                    alt="Sponsor 3" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies Wells Fargo.png" 
                    alt="Sponsor 4" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies JPMorgan.png" 
                    alt="Sponsor 5" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies Nomura.png" 
                    alt="Sponsor 6" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies CCI.png" 
                    alt="Sponsor 7" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies Point 72.png" 
                    alt="Sponsor 8" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies SIG.png" 
                    alt="Sponsor 9" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies WBS.png" 
                    alt="Sponsor 10">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Sponsors/WFS Warwick Finance Societies IG Group.png" 
                    alt="Sponsor 11" 
                    style="filter: brightness(0) invert(1);">
            </div>

            <!-- Navigation Buttons -->
            <button class="logoNavBtn" id="logoPrevSponsor">&lt;</button>
            <button class="logoNavBtn" id="logoNextSponsor">&gt;</button>
        </div>
    </div>

  <center>
    <a class="btn btn-lg mb-4 btn-outline-dark btn-secondary active hvr-glow hvr-pulse hvr-shutter-out-horizontal" 
    style="background:#f59120; border-width: 2px; border-radius: 10px;" href="{{ url_for('sponsors') }}" role="button"
    data-aos-delay="200"
    data-aos="zoom-in-up"
    data-aos-easing="ease-in-out"
    data-aos-delay="100">
      More about WFS Sponsors
    </a>
  </center>

  <center>
    <p class="h2 mt-5 mb-5 text-white"
    data-aos="fade-right"
    data-aos-easing="ease-in-out"
    data-aos-offset="250"
    data-aos-delay="100">Collabs and Speakers</p>
  </center>

    <!-- Image Slider Container -->
    <div class="logoSlider-container">
        <div class="logoSlider" id="collabSlider">
            <!-- Slider Items (35 total, updated with Collabs logos) -->
            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Augmentum.png" 
                    alt="Collab 2"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Bank of England.png" 
                    alt="Collab 3">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Barclays.png" 
                    alt="Collab 4"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies BGF.png" 
                    alt="Collab 5"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies BRI.png" 
                    alt="Collab 6"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Citi.png" 
                    alt="Collab 7"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies CVC.png" 
                    alt="Collab 8"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Da Vinci DERIVATIVES.png" 
                    alt="Collab 9"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Equiteq.png" 
                    alt="Collab 10"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Evercore.png" 
                    alt="Collab 11"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Goldman Sachs.png" 
                    alt="Collab 12"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Houlihan Lokey.png" 
                    alt="Collab 13"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies HSBC.png" 
                    alt="Collab 14"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Jane Street.png" 
                    alt="Collab 15"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies JPMorgan.png" 
                    alt="Collab 16"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies KKR.png" 
                    alt="Collab 17"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Maven.png" 
                    alt="Collab 18"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies MEDIOBANCA.png" 
                    alt="Collab 19"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Money Maze Podcast.png" 
                    alt="Collab 20"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Natwest.png" 
                    alt="Collab 22"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Nomura.png" 
                    alt="Collab 23"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Oliver Wyman.png" 
                    alt="Collab 24"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Point 72.png" 
                    alt="Collab 25"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies PWP.png" 
                    alt="Collab 26"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies RBC.png" 
                    alt="Collab 27">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Scotiabank.png" 
                    alt="Collab 28"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies SIG.png" 
                    alt="Collab 29"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Societe Generale.jpg" 
                    alt="Collab 30">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Sprints.png" 
                    alt="Collab 31"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies Toscafund.png" 
                    alt="Collab 32"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies UMushroom.png" 
                    alt="Collab 34"
                    style="filter: brightness(0) invert(1);">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies WBS.png" 
                    alt="Collab 35">
            </div>

            <div class="logoItem">
                <img src="/static/images/base/Collabs/WFS Warwick Finance Societies World Quant.png" 
                    alt="Collab 36"
                    style="filter: brightness(0) invert(1);">
            </div>

            <!-- Navigation Buttons -->
            <button class="logoNavBtn" id="logoPrevCollab">&lt;</button>
            <button class="logoNavBtn" id="logoNextCollab">&gt;</button>
        </div>
    </div>

  <br><br><br><br><br><br><br>
</div>

{% endblock %}