{% extends 'base.html' %} 

<!-- Title -->
{% block title %}
WFS Warwick Finance Societies - Sponsors
{% endblock %}

{% block content %}
<!-- HTML Code -->

<!-- Hero image -->
<div class="hero-image position-relative" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="container text-center">
          <h1 class="display-4 mb-2 text-white">
            Warwick Finance Societies <br> Sponsors
          </h1>
          <div class="row mt-2 mb-5">
            <div class="col text-center lead mb-0 text-white">Possible sentence include here</div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Border below hero image -->
<div class="border-bottom"></div>

{% endblock %}