{% extends 'base.html' %} 

<!-- Title -->
{% block title %}
WFS Warwick Finance Societies - Sponsors
{% endblock %}

{% block content %}
<!-- HTML Code -->

<!-- Hero image -->
<div class="hero-image position-relative" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="container text-center">
          <h1 class="display-4 mb-2 text-white">
            Warwick Finance Societies <br> Sponsors
          </h1>
          <div class="row mt-2 mb-5">
            <div class="col text-center lead mb-0 text-white">Possible sentence include here</div>
          </div>

            <a class="btn btn-lg mt-4 mb-4 btn-outline-dark active hvr-glow hvr-pulse hvr-shutter-out-horizontal" 
            style="background:#f59120; border-width: 2px; border-color: #000000; border-radius: 10px;" href="#" role="button"
            >
            Sponsor WFS
            </a>
        </div>
      </div>
    </div>
</div>

<!-- Border below hero image -->
<div class="border-bottom"></div>

<!-- Main content -->
 <div id="mainContent" style="height:100%">
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
        </div>
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center mt-2 mb-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" 
                class="img-fluid fixed-size" alt="WFS Warwick University Warwick Finance Societies Sponsor">
            </div>
        </div>
    </div>

<br><br><br><br>
</div>

{% endblock %}